<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main_layout}">

<div layout:fragment="content">
    <div class="text-center ">
        <h4 class="mb-3"><strong>Danh sách sản phẩm</strong></h4>
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4" th:each="product : ${products}">
                <div class="card">
                    <div class="bg-image">
                        <a th:href="@{/product/detail/(id=${product.id})}">
                            <img src="data:image;base64," th:attrappend="src=${product.image1Base64}" class="w-100 rounded" />
                        </a>
                        <div class="d-flex justify-content-start align-items-end h-100 mt-1">
                            <h5><span class="badge bg-primary ms-2">New</span></h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <a class="text-decoration-none" th:href="@{/product/detail/(id=${product.id})}">
                            <h5 class="card-title mb-3" th:text="${product.productName}" />
                        </a>
                        <p th:text="${product.description}"/>
                        <h6 class="mb-3" >$<span th:text="${product.price}"/></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>