<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/admin_layout}">

<div layout:fragment="content" class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Chi tiết sản phẩm</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Page Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <form class="card-body" th:action="@{/admin/product/save}" th:object="${product}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="hidden" th:field="${product.id}"/>
                            <label>Tên sản phẩm</label>
                            <input type="text" class="form-control" th:field="${product.productName}" placeholder="Tên sản phẩm">
                            <p th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="text-danger"/>
                        </div>
                        <div class="form-group">
                            <label>Giá sản phẩm</label>
                            <input type="text" class="form-control" th:field="${product.price}">
                            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"/>
                        </div>

                        <div class="form-group">
                            <label>Mô tả sản phẩm</label>
                            <textarea type="text" class="form-control" th:field="${product.description}" placeholder="chi tiết sản phẩm"/>
                        </div>

                        <div class="form-group">
                            <label>Hình 1</label>
                            <img class="form-control" src="data:image;base64," th:attrappend="src=${product.image1Base64}">
                            <input type="file" id="fileImage1" name="fileImage1" class="form-file-input" accept="image/png, image/jpeg">
                        </div>

                        <div class="form-group">
                            <label>Hình 2</label>
                            <img class="form-control" src="data:image;base64," th:attrappend="src=${product.image2Base64}">
                            <input type="file" id="fileImage2" name="fileImage2" class="form-file-input" accept="image/png, image/jpeg">
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <button type="submit" class="btn btn-primary">Lưu lại</button>
                    <a class="btn btn-link" th:href="@{/admin/products}">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</html>