<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/admin_layout}">

<div layout:fragment="content" class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Danh sách sản phẩm</h3>
                <div class="my-2">
                    <a class="btn btn-primary" th:href="@{/admin/product/create}">Thêm mới</a>
                    <a class="btn btn-primary" th:href="@{/product/productList}" target="_blank">Xem trên web</a>
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class='breadcrumb-header'>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Page Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <!-- Striped rows start -->
    <div class="row" id="table-striped">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <!-- table striped -->
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th>TÊN</th>
                                <th>DANH MỤC</th>
                                <th>MIÊU TẢ</th>
                                <th>GIÁ</th>
                                <th>NGÀY TẠO</th>
                                <th>ACTION</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${products}">
                                <td class="text-bold-500" th:text="${product.productName}"/>
                                <td>NEW</td>
                                <td class="text-bold-500" th:text="${product.description}"/>
                                <td th:text="${product.price}"/>
                                <td th:text="${product.createdDate}"/>
                                <td>
                                    <a th:href="@{/admin/product/edit/(id=${product.id})}"><i class="badge-circle badge-circle-light-secondary font-medium-1"></i>EDIT</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Striped rows end -->
</div>

</html>