<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/admin_layout}">

<div layout:fragment="content" >
    <div class="row">
        <div class="text-center mt-3">
            <h1 class="h4 text-gray-900 mb-4">Thông tin sản phẩm</h1>
        </div>
        <div class="bg-light rounded row mx-5 my-5">
            <form class="p-1" th:action="@{/admin/product/save}" th:object="${productDto}" method="post">
                <div class="input-group mb-3">
                    <input type="hidden" th:field="${productDto.id}"/>
                    <span class="input-group-text">Tên sản phẩm</span>
                    <input type="text" name="productName" th:field="${productDto.productName}" class="form-control form-control-user" placeholder="Nhập tên sản phẩm">
                    <p th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="text-danger"/>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Giá sản phẩm</span>
                    <input type="number" name="price" th:field="${productDto.price}" class="form-control form-control-user" placeholder="Nhập giá sản phẩm">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Mô tả sản phẩm</span>
                    <textarea class="form-control" name="description" th:field="${productDto.description}" aria-label="With textarea"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Lưu lại</button>
                    <a class="btn btn-link" th:href="@{/product/productList}">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

</html>