<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="layout/main_layout">

<div layout:fragment="content">
    <table class="table my-3">
        <thead>
        <tr class="table-primary">
            <th scope="col">STT</th>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Thao tác</th>
        </tr>
        </thead>
        <tbody class="table-success" th:each="order,iter : ${orders}">
        <td th:text="${iter.count}"/>
        <td th:text="${order.orderCode}"/>
        <td th:text="${order.items.get(0).product.productName}"/>
        <td th:text="${order.amount}"/>
        <td>
            <div th:if="${order.status.name() == 'SUCCESS'}">
                <span th:text="${order.status.value}"></span>
            </div>
            <div th:if="${order.status.name() == 'PENDING' || order.status.name() == 'CANClED'}">
                <span class="text-danger" th:text="${order.status.value}"></span>
            </div>
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="bi bi-list-task"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" th:if="${order.status.name() == 'PENDING'}" th:href="@{/order/detail/(id=${hashIdService.endCodeId(order.id)})}">
                            <span class="bi bi-wallet"></span> Thanh toán</a>
                    </li>
                    <li>
                        <a class="dropdown-item" th:href="@{/order/detail/(id=${hashIdService.endCodeId(order.id)})}"><span class="bi-box-arrow-right"></span> Chi tiết</a>
                    </li>
                </ul>
            </div>
        </td>
        </tbody>
    </table>
    <label th:if="${orders.size == 0}">Quý khách chưa có đơn hàng nào</label>
</div>
</html>