<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main_layout}">
<div layout:fragment="content">
    <div class="text-center mt-2">
        <h2 class="text-success text-center" th:if="${orderInfo.status.name() == 'SUCCESS'}">
            <span th:text="${orderInfo.status.value}"></span>
        </h2>
        <h2 class="text-danger text-center" th:if="${orderInfo.status.name() == 'PENDING'}">
            <span th:text="${orderInfo.status.value}"></span>
        </h2>
    </div>
    <div class="mt-2 d-flex justify-content-center">
        <div class="card p-4 mt-3">
            <div class="first d-flex justify-content-between align-items-center mb-3">
                <div class="info">
                    <b class="d-block name"><span class="text-primary" th:text="${orderInfo.buyerName}"/></b>
                    <b class="text-secondary">Mã đơn hàng: <span class="text-primary" th:text="${orderInfo.orderCode}"/></b>
                </div>
                <img src="https://i.imgur.com/NiAVkEw.png" width="40"/>
            </div>
            <div class="detail">
                <span class="d-block summery text-success" th:if="${orderInfo.status.name() == 'SUCCESS'}">
                    Cảm ơn bạn đã mua hàng. Đơn hàng đã được thanh toán hoàn tất.</span>
                <span class="d-block summery text-danger" th:if="${orderInfo.status.name() == 'PENDING'}">Đơn hàng chưa được thanh toán.
                    Bấm <a type="button" class="btn btn-info">vào đây</a> để thanh toán
                </span>
            </div>
            <hr>
            <div class="text" th:each="item, stat : *{orderInfo.items}">
                <li class="d-block new mb-1">
                    Sản phẩm: <span th:text="${item.product.productName}"/>
                </li>
                <li class="d-block new mb-1">
                    Thời gian: <span th:text="${item.quantity}"/>
                </li>
                <li class="d-block new mb-1">
                    Giá sản phẩm: <span th:text="${item.total}"/>
                </li>
            </div>
            <hr>
            <div class="  money d-flex flex-row mt-2 align-items-center">
                <img src="https://i.imgur.com/ppwgjMU.png" width="20" />

                <span class="ml-2">Tổng tiền</span>

            </div>
            <div class="last d-flex align-items-center mt-3">
                <h4 class="address-line" th:text="${orderInfo.amount}"/>
            </div>
        </div>
    </div>
    <div class="text-center mt-2" >
        <a class="btn btn-danger" th:href="@{/order/orderList}">Quản lý đơn hàng</a>
    </div>
</div>