<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main_layout}">

<div layout:fragment="content">
    <div class="d-flex">
        <form class="input-group" th:action="@{/order/orderList/page}" method="get">
            <input type="hidden" name="p" th:value="1">
            <input type="search" class="form-control rounded" placeholder="Mã đơn hàng, hoặc tên sản phẩm"
                   aria-label="Search" aria-describedby="search-addon"
                   name="k" th:value="${keyword}"/>
            <span class="input-group-append">
                    <button class="btn btn-outline-secondary bg-white rounded" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </span>
        </form>
    </div>
    <table class="table my-3">
        <thead>
        <tr class="table-primary">
            <th scope="col">STT</th>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Tổng tiền</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Thao tác</th>
        </tr>
        </thead>
        <tbody class="table-success" th:each="order,iter : ${orders}">
        <td th:text="${iter.count}"/>
        <td th:text="${order.orderCode}"/>
        <td th:text="${order.items.get(0).product.productName}"/>
        <td th:text="${order.amount}"/>
        <td>
            <div th:if="${order.status.name() == 'SUCCESS'}">
                <span th:text="${order.status.value}"></span>
            </div>
            <div th:if="${order.status.name() == 'PENDING' || order.status.name() == 'CANClED'}">
                <span class="text-danger" th:text="${order.status.value}"></span>
            </div>
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="bi bi-list-task"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" th:if="${order.status.name() == 'PENDING'}" th:href="@{/order/detail/(id=${hashIdService.endCodeId(order.id)})}">
                            <span class="bi bi-wallet"></span> Thanh toán</a>
                    </li>
                    <li>
                        <a class="dropdown-item" th:href="@{/order/detail/(id=${hashIdService.endCodeId(order.id)})}"><span class="bi-box-arrow-right"></span> Chi tiết</a>
                    </li>
                </ul>
            </div>
        </td>
        </tbody>
    </table>
    <nav th:if="${totalPages > 0}">
        <ul class="pagination">
            <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                <a class="page-link" th:href="@{/order/orderList/page(p=1,k=${keyword})}">First</a>
            </li>
            <li th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
                <a class="page-link" th:href="@{/order/orderList/page(p=${currentPage - 1},k=${keyword})}">Previous</a>
            </li>
            <li th:block th:each="i: ${#numbers.sequence(1, totalPages)}"
                th:class="${currentPage == i ? 'page-item active' : 'page-item'}">
                <a class="page-link" th:href="@{/order/orderList/page(p=${i},k=${keyword})}">[[${i}]]</a>
            </li>
            <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
                <a class="page-link" th:href="@{/order/orderList/page(p=${currentPage + 1},k=${keyword})}">Next</a>
            </li>
            <li th:class="${currentPage == totalPages ? 'page-item disabled' : 'page-item'}">
                <a class="page-link" th:href="@{/order/orderList/page(p=${totalPages},k=${keyword})}">Last</a>
            </li>
        </ul>
    </nav>
</div>
</html>