<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="sidebar" class='active' th:fragment="sidebar"><!--sidebar-->
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <img src="assets/images/logo.svg" alt="" srcset="">
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class='sidebar-title'>Main Menu</li>
                <li class="sidebar-item active ">
                    <a class='sidebar-link' th:href="@{/admin/dashboard}">
                        <i data-feather="home" width="20"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item  ">
                    <a href="form-editor.html" class='sidebar-link'>
                        <i data-feather="layers" width="20"></i>
                        <span>Đơn hàng</span>
                    </a>

                </li>
                <li class="sidebar-item  ">
                    <a class='sidebar-link' th:href="@{/admin/products}">
                        <i data-feather="grid" width="20"></i>
                        <span>Sản phẩm</span>
                    </a>
                </li>
                <li class="sidebar-item  ">
                    <a href="table-datatable.html" class='sidebar-link'>
                        <i data-feather="file-plus" width="20"></i>
                        <span>Khách hàng</span>
                    </a>
                </li>

            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>
</html>