<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main_layout}">


<div layout:fragment="content">
    <form class="row" th:action="@{/buyer/updateInfo}" th:object="${user}" method="post" enctype="multipart/form-data">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Hình đại diện</div>
                <div class="card-body text-center">
                    <img class="img-account-profile rounded-circle mb-2" src="data:image;base64," th:attrappend="src=${user.avatarBase64}" width="300">
                    <div class="small font-italic text-muted mb-4">Định dạng JPG hoặc PNG dung lượng file tối đa 1 MB</div>
                    <input type="file" class="form-control" name="imgAvatar" accept="image/png, image/jpeg">
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Thông tin chi tiết</div>
                <div class="card-body">
                    <form>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1">Username</label>
                                <label class="form-control">[[${user.username}]]</label>
                                <input type="hidden" th:field="*{id}">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1">Họ tên</label>
                                <input class="form-control" type="text" th:field="*{fullName}">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1">Email address</label>
                            <input class="form-control" type="email" placeholder="Nhập email của bạn" th:field="*{email}">
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Địa chỉ</label>
                            <input class="form-control" id="inputEmailAddress" type="email" placeholder="Nhập địa chỉ của bạn" th:field="*{address}">
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1">Số điện thoại</label>
                                <input class="form-control" type="tel" placeholder="Nhập số điện thoại của bạn" th:field="*{phoneNumber}">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1">Birthday</label>
                                <input class="form-control" type="date" name="birthday" th:field="*{birthdate}">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Lưu lại</button>
                    </form>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>